*{  margin: 0%;
    height: 100vh;
    background-image: linear-gradient(to right top, #4b00c0, #610079, #500043, #2f031d, #000000);
}

.btn {
display: inline-flex;
align-items: center;
gap: 1epx; padding: 16px 38px;
background: transparent;
color: var(--neon-red);
border: 2px solid var(--neon-red);
border-radius: 8px;
text-decoration: none;
font-weight: 6ee; font-size: 1.1rem;
transition: var(--transition);
box-shadow: θ θ 25px □rgba(255, e, 60, 0.3);
position: relative; overflow: hidden; z-index: 1;
margin-bottom: Sepx;
}